@font-face {
  font-family: Avatar;
  src: url(AvatarAirbender.ttf);
}
html {
  background-color: cornflowerblue;
  font-family: Avatar;
  color: #000000;
}
.article {
  border-right: 5px solid #206cfa;
  margin-right: 5px;
  background-color: #e7bfa3;
  border-radius: 15px;
  padding: 10px;
  padding-top: 1px;
  margin-top: 20px;
  padding-bottom: 20px;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: #333;
}

nav ul li {
  position: relative;
}

nav ul li a {
  display: block;
  padding: 14px 20px;
  text-decoration: none;
  color: white;
}

nav ul li a:hover, nav ul li a.active {
  background-color: #111;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
canvas {
  border-radius: 30px;
  border: 3px solid #206cfa;
}
