@font-face {
    font-family: Avatar;
    src: url(AvatarAirbender.ttf);
}

html { 
    background-color: cornflowerblue;
    font-family: Avatar;
     color: #000000;
}

body {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.bookContainer {
    width: 100%;
    max-width: 100%;
}

.book {
    text-align: center;
    margin-bottom: 20px;
}

.episodeGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.episodeCard {
    background-color: #e6ffe6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 700px;
    flex: 1 1 calc(33.333% - 30px);
    box-sizing: border-box;
}

.episodeNumber {
    font-size: 14px;
    color: gray;
    margin-bottom: 5px;
}

.episodeTitle {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.episodeDescription {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #333;
}

nav ul li {
    position: relative;
}

nav ul li a {
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    color: white;
}

nav ul li a:hover, nav ul li a.active {
    background-color: #111;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #111;
}

.dropdown:hover .dropdown-content {
    display: block;
}

