@font-face {
  font-family: Avatar;
  src: url(AvatarAirbender.ttf);
}
html {
  background-color: cornflowerblue;
  font-family: Avatar;
  color: #000000;
}
.article {
  border-right: 5px solid #206cfa;
  margin-right: 5px;
  background-color: #e7bfa3;
  border-radius: 15px;
  padding: 10px;
  padding-top: 1px;
  margin-top: 20px;
  padding-bottom: 20px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: cornflowerblue;
  color: #1f1f1f;
}

nav li {
  float: left;
  border-right: 5px solid #206cfa;
  margin-right: 5px;
  background-color: #f1f1f1;
  border-radius: 15px;
}
nav li:hover {
  float: left;
  border-right: 5px solid #1c57c3;
  margin-right: 5px;
  background-color: #afafaf;
  border-radius: 15px;
}
nav li:active {
  float: left;
  border-right: 2px solid #1c57c3;
  margin-right: 5px;
  background-color: #6e6e6e;
  border-radius: 15px;
}
nav li a {
  display: block;
  text-align: center;
  color: #1f1f1f;
  padding: 14px 16px;
  text-decoration: none;
}
a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
canvas {
  border-radius: 30px;
  border: 3px solid #206cfa;
}
